<!doctype html>
<HTML>
<HEAD>
    <TITLE>
        Ask Lawrence
    </TITLE>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</HEAD>
<BODY>
<!--Logo-->
<div style="cursor: pointer;">
    <a href="/">
        <div id="logo" class="">
          <span class="logoText">
            Ask
          </span>
        </div>
        <span class="logoText blackText">
          Lawrence
      </span>
    </a>
</div>

<section>
  <form class="views">
    <ul>
      <li><input type="submit" class="btn" value="History" name="History"></li>
      <li><input type="submit" class="btn" value="URLS" name="URLS"></li>
      <li><input type="submit" class="btn" value="Term_URL" name="Term_URL"></li>
      <li><input type="submit" class="btn" value="Terms" name="Terms"></li>
    </ul>
  </form>

  <div class="tableWrapper">
    <table class="adminTable table table-striped">
      <%- data %>
    </table>
  </div>
<a href="https://github.com/SteliosPhanartzis/Search-Engine"><img alt="Search-Engine Repository" class="repo" src="images/github.svg"/></a>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
</BODY>
</HTML>
