/*Admin Page*/
.views {
  margin: 30px;
  border: 1px solid black;
  float: left;
  padding: 20px;
  height: 300px;
}

/* Style the list inside the menu */
a {
    text-decoration: none !important;
}
.repo {
  position: fixed;
  height: 2vw;
  top: 94vh;
  left: 96vw;
}
.views ul{
  list-style-type: none;
  padding: 0;
}

.views ul li{
margin: 5%;
}
.tableWrapper{
display: block;
max-height: 82vh;
overflow-y: auto;
}
.adminTable tr td{
  border: 1px solid black;
}
/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
.resultItem {
  border: 1px solid lightgray;
  box-shadow: 1px 1px gray;
  border-radius: 2px;
  padding: 1vh;
  margin: 1vh 10vw;
}
.resultItem:hover {
  border: 1px solid teal;
  box-shadow: 1px 1px teal;
}
#search {
    position: absolute;
    top: 0;
    width: 30%;
    left: 35vw;
    margin: 1% auto;
}
.emptySearch {
    top: +30vh !important;
}
#searchBar {
    padding-top: 0;
    background-image: linear-gradient(0deg, #81b4f5 2px, rgba(0, 40, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0) !important;
}
button:hover {
    background-color: rgba(30, 30, 30, .9) !important;
    color: #fff !important;
}

#login {
    float: right;
    margin: 1%;
}

#logo {
    display: inline-flex;
    background: radial-gradient(#b22 30%, #d44);
    height: 3em;
    width: 5em;
    border-radius: 70%;
    transform: rotate(-12deg);
    text-align: center;
    margin: 1em 0 1em 1em;
    overflow: show;
    white-space: nowrap;
}

.logoText {
    margin: -1em auto;
    display: inline-block;
    padding-top: 1em;
    transform: rotate(12deg);
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    font-family: "Yatra One", sans-serif;
}

.blackText {
    transform: rotate(0);
    font-size: 1.75em;
    color: #000 !important;
}

.searchResult {
    margin-left: 10em;
    margin-top: 2em;
    font-size: 24px;
}